<style>
  .image-button {
    all: unset; 
    display: inline-block;
    cursor: pointer; 
  }
</style>

<div class="container-fluid">
  <div class="search-container">
    <!-- Input group for search -->
    <form role="form" action="/plan" method="POST" id="show-spot-info">
      <div class="input-group mt-3">
        <input type="text" name="query" placeholder="I want a day trip to Hsinchu." required="true" class="form-control">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-12 blank-row"></div>
  </div>
  <% if plans.any?%>
  <table class="table table-hover" id="spots_table">
    <thead>
      <th></th>
      <th>Plan</th>
      <th>Day</th>
      <th>People</th>
      <th>Spots</th>
    </thead>
    <tbody>
      <% plans.each do |plan| %>
      <tr class="table-row plan_row" id="<%= plan.index_str %>.row" data-href="<%= plan.plan_link %>">
        <td id="delete_plan">
          <form role="form" method="post" action="<%= plan.plan_link %>">
            <input type="hidden" name="_method" value="delete">

            <button type="submit" class="btn btn-sm btn-link" id="<%= plan.index_str %>.delete">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </td>
        <td class="td_plan">
          <span class="plan_table_name" id="<%= plan.index_str %>.title">
            <%= plan.plan_title %>
          </span>
        </td>
        <td class="td_day">
          <span class="plan_table_name" id="<%= plan.index_str %>.day">
            <%= plan.day %>
          </span>
        </td>
        <td class="td_num_people">
          <span class="plan_table_name" id="<%= plan.index_str %>.num_people">
            <%= plan.num_people %>
          </span>
        </td>
        <td class="td_spots">
          <span class="plan_table_name" id="<%= plan.index_str %>.spots">
            <%= plan.spot_names %>
          </span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <div>
    <div class="my-3">
      <div>
        <h2>Or get started with a popular destination</h2>
      </div>
    </div>
    <div>
      <div>
        <ul class="d-flex popular_spot">
          <li>
            <form action="/plan" method="POST">
              <input type="hidden" name="query" value="I want a day trip to Tainan">
              <button type="submit" class="btn btn-link image_button">
                <div class="card">
                  <div>
                    <picture>
                      <img src="/media/tainan.jpg" alt="tainan" width="300" height="300" loading="lazy" class="d-block">
                    </picture>
                  </div>
                  <div class="spot_name">
                    <div>Tainan</div>
                  </div>
                </div>
              </button>
            </form>
          </li>
          <li>
            <form action="/plan" method="POST">
              <input type="hidden" name="query" value="I want a day trip to Taipei">
              <button type="submit" class="btn btn-link image_button">
                <div class="card">
                  <div>
                    <picture>
                      <img src="/media/taipei.jpg" alt="taipei" width="300" height="300" loading="lazy" class="d-block">
                    </picture>
                  </div>
                  <div class="spot_name">
                    <div>Taipei</div>
                  </div>
                </div>
              </button>
            </form>
          </li>
          <li>
            <form action="/plan" method="POST">
              <input type="hidden" name="query" value="I want a day trip to Kaohsiung">
              <button type="submit" class="btn btn-link image_button">
                <div class="card">
                  <div>
                    <picture>
                      <img src="/media/kaohsiung.jpg" alt="kaohsiung" width="300" height="300" loading="lazy" class="d-block">
                    </picture>
                  </div>
                  <div class="spot_name">
                    <div>Kaohsiung</div>
                  </div>
                </div>
              </button>
            </form>
          </li>
          <li>
            <form action="/plan" method="POST">
              <input type="hidden" name="query" value="I want a day trip to Hsinchu">
              <button type="submit" class="btn btn-link image_button">
                <div class="card">
                  <div>
                    <picture>
                      <img src="/media/hsinchu.jpg" alt="hsinchu" width="300" height="300" loading="lazy" class="d-block">
                    </picture>
                  </div>
                  <div class="spot_name">
                    <div>Hsinchu</div>
                  </div>
                </div>
              </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
