<% plan.spots.each do |spot|%>
<p>
    <%= spot.coordinate.lat %>, <%= spot.coordinate.lng %>
</p>
<% end %>
<div class="d-flex col-12">
    <div class="left col-6">
        <% plan.spots.each_with_index do |spot, index| %>
            <div class="route-step" title="<%= spot.address %>">
                <div class="step-text">
                    <span class="step-index"><%= index + 1 %>.</span>
                    <span class="spot-name"><%= spot.name %></span>
                </div>
                <% if index < plan.spots.size - 1 %>
                    <div class="route-arrow">
                        <i class="fas fa-arrow-down"></i>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
    <div class="right col-6">

    </div>
</div>

<style>
    .left {
        background-color: lightgreen;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align text to the left */
    }

    .route-step {
        margin: 5px 0;
    }

    .step-text {
        font-size: 16px;
        font-weight: bold;
    }

    .route-arrow {
        font-size: 24px; /* Make the icon larger */
        color: darkgray;
        margin: 5px 0;
        margin-left: 50px; /* Add margin to align with text */
    }
    
    .route-step:hover {
        cursor: pointer; /* Show pointer cursor on hover */
    }

    .right {
        background-color: lightblue;
    }
</style>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>